@import url("https://fonts.cdnfonts.com/css/br-firma");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* box-sizing: border-box; */
}

body {
  font-family: "BR Firma", sans-serif;
  overflow-x: hidden;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #10204d;
}

img {
  width: 100%;
}

/* utilities */

.bright {
  color: #545ed8;
}

.circle {
  background: linear-gradient(0deg, #043c93, #043c93), #043c93;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.less-bright {
  color: #043c93;
  font-weight: 600;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  padding: 1.4rem 1.6rem;
}

.btn-primary {
  background-color: #043c93;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

/* Header */
header.header {
  z-index: 2000;
  top: 0;
  left: 0;
  display: flex;
  min-height: 50px;
  align-items: center;
  width: 100%;
  position: fixed;
  /* margin-top: 20px; */
  padding: 22px 8%;
}

header > div.logo {
  flex: 0.4;
}

header > div.logo img {
  width: 162px;
}

header > nav.nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

header > nav.nav ul.nav-wrapper {
  display: flex;
  align-items: center;
}

header > nav.nav ul.nav-wrapper li.nav-items:not(:last-child) {
  margin-right: 3.5rem;
}

header > nav.nav ul.nav-wrapper li.nav-items a.nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  color: #10204d;
}

.menu,
.cancel-menu {
  display: none;
}

.menu.notShowMenu {
  display: none;
}

.cancel-menu.notShowMenu {
  display: block;
}

/* showcase  */

.showcase {
  margin-top: 76px;
  padding: 10.5rem;
}

.showcase-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 3rem;
}

.showcase-container > div.showcase-description h1 {
  font-size: 5.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #10204d;
}

.showcase-container > div.showcase-description p {
  color: #10204d;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.showcase-container > div.showcase-description .form-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.4rem;
  background-color: #fff;
  background: #ffffff;
  border: 1.37103px solid #f4f4f4;
  box-shadow: 0px 0px 183.718px rgba(0, 0, 0, 0.05);
  border-radius: 6.85516px;
  -webkit-border-radius: 6.85516px;
  -moz-border-radius: 6.85516px;
  -ms-border-radius: 6.85516px;
  -o-border-radius: 6.85516px;
}

.showcase-container > div.showcase-description .form-display input {
  border: none;
  outline: 0;
  font-family: "BR Firma", sans-serif;
  padding: 0 1.6rem;
  width: 100%;
  font-size: 1.6rem;
  color: #10204d;
}

.showcase-container
  > div.showcase-description
  .form-display
  input::placeholder {
  color: #b3b3b3;
}

.showcase-container > div.showcase-description .form-display a.btn {
  padding: 1.8rem 2.2rem;
}

/* keywords */
.keywords {
  padding: 3.5rem 6.5rem 10.5rem 6.5rem;
}

.keywords .keywords-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.keywords .keywords-container .keywords-item {
  display: flex;
  align-items: center;
}

.keywords .keywords-container .keywords-item h2 {
  font-size: 4rem;
  color: #10204d;
  font-weight: 400;
}

.keywords .keywords-container .keywords-item h2:not(:last-child) {
  margin-right: 2.5rem;
}

.community-savings {
  padding: 6.5rem;
  background-color: #fafafb;
}

.community-savings .community-savings-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 3rem;
  align-items: flex-start;
}

.community-savings .community-savings-container > div:first-child {
  position: relative;
}

.community-savings .community-savings-container .content h2 {
  font-size: 3.4rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  color: #10204d;
}

.community-savings .community-savings-container .content p {
  color: #10204d;
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 4rem;
}

.absolute-img-1 {
  z-index: 300;
  width: 100px;
  position: absolute;
  top: 0;
  right: 50px;
}
.absolute-img-2 {
  width: 100px;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 300;
}

/* laons */
.loans {
  padding: 4.5rem 6.5rem 6.5rem 6.5rem;
  background-color: #fafafb;
}

.loans .loans-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 3rem;
  align-items: center;
}

.loans .loans-container .content h2 {
  font-size: 3.4rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  color: #10204d;
}

.loans .loans-container .content p {
  color: #10204d;
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 4rem;
}

/* bills */
.bills {
  padding: 6.5rem;
}

.bills .bills-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); */
  grid-template-columns: 2fr 1fr;
  grid-gap: 5rem;
}

.bills .bills-container .bills-pay-details {
  background-color: #fafafb;
  border-radius: 20px;
  padding: 2.5rem 3rem 2.5rem 3rem;
  display: flex;
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.bills .bills-container .bills-pay-details > div h2 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #10204d;
}

.bills .bills-container .bills-pay-details > div p {
  color: #10204d;
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}

.bills .bills-container .send-receive-money {
  background-color: #fafafb;
  border-radius: 20px;
  padding: 2.5rem 3rem 2.5rem 3rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.bills .bills-container .send-receive-money img {
  width: 50px;
}

.bills .bills-container .send-receive-money h3 {
  color: #10204d;
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}

.bills .bills-container .send-receive-money p {
  color: #10204d;
  font-size: 1.4rem;
  line-height: 1.8;
}

/* deposit */
.deposit {
  padding: 6.5rem;
}

.deposit .deposit-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5rem;
}

.deposit .deposit-container .card {
  background-color: #fafafb;
  padding: 2.5rem 3rem 2.5rem 3rem;
  border-radius: 20px;
}

.deposit .deposit-container .card img {
  width: 50px;
}

.deposit .deposit-container .card h3 {
  color: #10204d;
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}

.deposit .deposit-container .card p {
  color: #10204d;
  font-size: 1.4rem;
  line-height: 1.8;
}

.deposit .deposit-container .invest {
  background-color: #fafafb;
  padding: 2.5rem 3rem 2.5rem 3rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.deposit .deposit-container .invest h2 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #10204d;
  width: 80%;
}

.deposit .deposit-container .invest p {
  color: #10204d;
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
  width: 78%;
}

.get-started {
  padding: 6.5rem;
}

.get-started .get-started-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  justify-content: center;
  align-items: flex-start;
  grid-gap: 2rem;
}

.get-started .get-started-container > div:first-child img {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.get-started .get-started-container .details h2 {
  font-size: 4rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 3rem;
}

.get-started .get-started-container .details .details-info {
  display: flex;
  flex-direction: column;
}

.get-started .get-started-container .details .details-info:not(:last-child) {
  margin-bottom: 2rem;
}

.get-started .get-started-container .details .details-info > div:first-child {
  display: flex;
  align-items: center;
}

.get-started
  .get-started-container
  .details
  .details-info
  > div:first-child
  h3 {
  color: #043c93;
  font-weight: 500;
  font-size: 2.6rem;
  margin-right: 3rem;
}

.get-started
  .get-started-container
  .details
  .details-info
  > div:first-child
  h4 {
  color: #10204d;
  font-size: 2.2rem;
  font-weight: 600;
}

.get-started .get-started-container .details .details-info .arrow-down {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.get-started .get-started-container .details .details-info .arrow-down div {
  margin-right: 3rem;
}

.get-started .get-started-container .details .details-info .arrow-down div img {
  width: auto;
  height: 180px;
  object-fit: contain;
}

.get-started
  .get-started-container
  .details
  .details-info.info-3
  .arrow-down
  p {
  margin-left: 1.74rem;
}

.get-started .get-started-container .details .details-info .arrow-down p {
  color: #10204d;
  font-size: 1.4rem;
  line-height: 1.8;
}

.subscribe {
  padding: 8.5rem;
  background-color: #000000;
}

.subscribe .subscribe-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  grid-gap: 4rem;
  align-items: center;
}

.subscribe .subscribe-container h2 {
  color: #ffffff;
  font-size: 3.8rem;
}

.subscribe .subscribe-container .content p {
  color: #ffffff;
  line-height: 2;
  font-size: 1.6rem;
}

.subscribe .subscribe-container .content .form-display {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(41, 45, 50, 0.61);
  box-shadow: 0px 0px 199.307px rgba(0, 0, 0, 0.05);
  padding: 1rem 2.4rem;
  border-radius: 5px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.subscribe .subscribe-container .content .form-display input {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1.6rem;
  width: 100%;
  padding: 0 2rem 0 0;
  font-family: "BR Firma", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

.subscribe .subscribe-container .content .form-display input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

.subscribe .subscribe-container .content .store-download {
  display: flex;
}

.subscribe .subscribe-container .content .store-download img {
  width: 30%;
  /* height: auto; */
}

.subscribe .subscribe-container .content .store-download img:first-child {
  margin-right: 3rem;
}

.footer {
  padding: 8rem 8rem 6rem 8rem;
}

.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 4rem;
  align-items: flex-start;
}

.footer .footer-container ul.footer-list {
  display: flex;
  flex-direction: column;
}

.footer .footer-container ul.footer-list h3 {
  color: #090429;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer .footer-container ul.footer-list li:not(:last-child) {
  margin-bottom: 2rem;
}

.footer .footer-container ul.footer-list li.footer-items a,
.footer .footer-container ul.footer-list li.footer-items p {
  color: #090429;
  font-size: 1.4rem;
}

.footer .footer-container ul.footer-list.reach-us > div.social-icons {
  display: flex;
}
.footer
  .footer-container
  ul.footer-list.reach-us
  > div.social-icons
  div:not(:last-child) {
  margin-right: 2rem;
}

.footer .footer-container ul.footer-list.reach-us > div.social-icons div {
  background-color: #000;
  padding: 0.8rem 1.2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer .footer-container ul.footer-list.reach-us > div.social-icons div img {
  width: auto;
  margin: 0 auto;
  height: 18px;
  object-fit: contain;
}

.footer-details {
  padding: 6.5rem;
}

.footer-details .footer-details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-details .content div {
  display: flex;
  align-items: center;
}

.footer-details .content div:not(:last-child) {
  margin-bottom: 2rem;
}

.footer-details .content div p {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  color: #090429;
}

.footer-details .content div img {
  width: 15px;
  height: auto;
  object-fit: contain;
}

.footer-details img {
  width: 200px;
}

.footer-summary {
  padding: 0 6.5rem 6.5rem 6.5rem;
}

.footer-summary p {
  color: #090429;
  font-size: 1.4rem;
  line-height: 2;
}

.footer-summary p:not(:last-child) {
  margin-bottom: 3rem;
}

header.sticky {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);

  background-color: rgba(255, 255, 255, 0.96);
}

/* responsiveness*/
@media screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 900px) {
  .get-started .get-started-container {
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: block;
  }

  header > nav.nav {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 76px;
    right: -1000%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #10204df5;
    width: 40%;
    min-height: 60rem;
    padding: 4rem 6rem;
    backdrop-filter: blur(2px);
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
  }

  header > nav.nav ul.nav-wrapper li.nav-items:not(:last-child) {
    margin-right: 0;
  }

  header > nav.nav ul.nav-wrapper li.nav-items:not(:last-child) {
    margin-bottom: 5rem;
  }

  header > nav.nav ul.nav-wrapper {
    margin-bottom: 5rem;
  }

  header > nav.nav ul.nav-wrapper {
    flex-direction: column;
  }

  header > nav.nav ul.nav-wrapper li.nav-items {
    opacity: 0;
  }

  header > nav.nav a.btn {
    opacity: 0;
  }

  header > nav.nav ul.nav-wrapper li.nav-items a.nav-link {
    color: #fff;
    font-size: 1.8rem;
  }

  header > nav.nav a.btn {
    background-color: #fff;
    color: #000000;
    font-size: 1.8rem;
    font-weight: 500;
  }

  nav.nav.show {
    right: 0%;
  }

  .showcase {
    padding: 6.5rem;
  }

  .showcase-container {
    grid-template-columns: 100%;
    grid-row-gap: 8rem;
  }

  .community-savings .community-savings-container {
    grid-template-columns: 100%;
    grid-row-gap: 8rem;
  }

  .loans .loans-container {
    grid-template-columns: 100%;
    grid-row-gap: 8rem;
  }

  .deposit .deposit-container {
    grid-template-columns: 100%;
  }

  .bills .bills-container {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 776px) {
  .get-started .get-started-container {
    grid-template-columns: 100%;
    grid-row-gap: 6rem;
  }
  .get-started .get-started-container > div:first-child img {
    width: 50%;
  }
}

@media screen and (max-width: 760px) {
  .subscribe .subscribe-container {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 680px) {
  .keywords .keywords-container .keywords-item {
    flex-direction: column;
  }

  .keywords .keywords-container .keywords-item.third .circle {
    display: none;
  }

  .keywords .keywords-container .keywords-item h2:not(:last-child) {
    margin-right: 0;
  }

  .keywords .keywords-container .keywords-item.one h2,
  .keywords .keywords-container .keywords-item.two h2 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .footer-details .footer-details-container {
    flex-direction: column;
  }

  .footer-details .content {
    margin-bottom: 4rem;
  }

  header > nav.nav {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .get-started
    .get-started-container
    .details
    .details-info
    .arrow-down
    div
    img {
    height: 120px;
  }
}

@media screen and (max-width: 550px) {
  .bills .bills-container .bills-pay-details {
    flex-direction: column;
  }

  .deposit .deposit-container .invest {
    flex-direction: column;
  }
  .deposit .deposit-container .invest > div:first-child {
    margin: 0;
    margin-bottom: 4rem;
  }

  .bills .bills-container .bills-pay-details > div:first-child {
    margin: 0;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .showcase-container > div.showcase-description .form-display {
    flex-direction: column;
    padding: 2rem 1.4rem;
  }

  .showcase-container > div.showcase-description .form-display a.btn {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }

  .subscribe .subscribe-container .content .form-display {
    flex-direction: column;
    padding: 2rem 1.4rem;
  }

  .subscribe .subscribe-container .content .form-display a.btn {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }

  header > nav.nav {
    width: 70%;
  }

  /* .showcase-container > div:last-child {
    width: 400px;
  } */
}

@media screen and (max-width: 483px) {
  .keywords .keywords-container {
    grid-template-columns: 100%;
  }

  .keywords .keywords-container .keywords-item.third .circle {
    display: block;
  }

  .keywords .keywords-container .keywords-item.third h2 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 455px) {
  .footer .footer-container {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 400px) {
  .subscribe .subscribe-container .content .store-download img {
    width: 40%;
  }

  header > nav.nav {
    width: 85%;
  }
}

/* animation */
@keyframes slideX {
  from {
    opacity: 0;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
