@import url("https://fonts.cdnfonts.com/css/br-firma");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* box-sizing: border-box; */
}

body {
  font-family: "BR Firma", sans-serif;
  overflow-x: hidden;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #10204d;
}

img {
  width: 100%;
}

/* utilities */

.bright {
  color: #545ed8;
}

.circle {
  background: linear-gradient(0deg, #043c93, #043c93), #043c93;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.less-bright {
  color: #043c93;
  font-weight: 600;
}

.btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 15px 17px;
}

.btn-primary {
  background-color: #043c93;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

/* Header */
header.header {
  z-index: 2000;
  top: 0;
  left: 0;
  display: flex;
  min-height: 50px;
  align-items: center;
  width: 100%;
  position: fixed;
  margin-top: 20px;
  padding: 0 8%;
}

header > div.logo {
  flex: 0.4;
}

header > div.logo img {
  width: 170px;
}

header > nav.nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

header > nav.nav ul.nav-wrapper {
  display: flex;
  align-items: center;
}

header > nav.nav ul.nav-wrapper li.nav-items:not(:last-child) {
  margin-right: 35px;
}

header > nav.nav ul.nav-wrapper li.nav-items a.nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #10204d;
}

/* showcase  */

.showcase {
  margin-top: 65px;
  padding: 10.5rem;
}

.showcase-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 3rem;
}

.showcase-container > div.showcase-description h1 {
  font-size: 5.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #10204d;
}

.showcase-container > div.showcase-description p {
  color: #10204d;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}

.showcase-container > div.showcase-description .form-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.4rem;
  background-color: #fff;
  background: #ffffff;
  border: 1.37103px solid #f4f4f4;
  box-shadow: 0px 0px 183.718px rgba(0, 0, 0, 0.05);
  border-radius: 6.85516px;
  -webkit-border-radius: 6.85516px;
  -moz-border-radius: 6.85516px;
  -ms-border-radius: 6.85516px;
  -o-border-radius: 6.85516px;
}

.showcase-container > div.showcase-description .form-display input {
  border: none;
  outline: 0;
  font-family: "BR Firma", sans-serif;
  padding: 0 1.6rem;
  width: 100%;
  font-size: 1.6rem;
  color: #10204d;
}

.showcase-container
  > div.showcase-description
  .form-display
  input::placeholder {
  color: #b3b3b3;
}

.showcase-container > div.showcase-description .form-display a.btn {
  padding: 18px 22px;
}

/* keywords */
.keywords {
  padding: 3.5rem 6.5rem 10.5rem 6.5rem;
}

.keywords .keywords-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
}

.keywords .keywords-container .keywords-item {
  display: flex;
  align-items: center;
}

.keywords .keywords-container .keywords-item h2 {
  font-size: 4rem;
  color: #10204d;
  font-weight: 400;
}

.keywords .keywords-container .keywords-item h2:not(:last-child) {
  margin-right: 2.5rem;
}

.community-savings {
  padding: 6.5rem;
  background-color: #fafafb;
}

.community-savings .community-savings-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 3rem;
  align-items: flex-start;
}

.community-savings .community-savings-container > div:first-child {
  position: relative;
}

.community-savings .community-savings-container .content h2 {
  font-size: 3.4rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  color: #10204d;
}

.community-savings .community-savings-container .content p {
  color: #10204d;
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 4rem;
}

.absolute-img-1 {
  z-index: 300;
  width: 100px;
  position: absolute;
  top: 0;
  right: 50px;
}
.absolute-img-2 {
  width: 100px;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 300;
}

/* laons */
.loans {
  padding: 4.5rem 6.5rem 6.5rem 6.5rem;
  background-color: #fafafb;
}

.loans .loans-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 3rem;
  align-items: center;
}

.loans .loans-container .content h2 {
  font-size: 3.4rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  color: #10204d;
}

.loans .loans-container .content p {
  color: #10204d;
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 4rem;
}

/* bills */
.bills {
  padding: 6.5rem;
}

.bills .bills-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); */
  grid-template-columns: 2fr 1fr;
  grid-gap: 5rem;
}

.bills .bills-container .bills-pay-details {
  background-color: #fafafb;
  border-radius: 20px;
  padding: 2.5rem 3rem 2.5rem 3rem;
  display: flex;
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.bills .bills-container .bills-pay-details > div h2 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #10204d;
}

.bills .bills-container .bills-pay-details > div p {
  color: #10204d;
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
}

.bills .bills-container .send-receive-money {
  background-color: #fafafb;
  border-radius: 20px;
  padding: 2.5rem 3rem 2.5rem 3rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.bills .bills-container .send-receive-money img {
  width: 50px;
}

.bills .bills-container .send-receive-money h3 {
  color: #10204d;
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}

.bills .bills-container .send-receive-money p {
  color: #10204d;
  font-size: 1.4rem;
  line-height: 1.8;
}

/* deposit */
.deposit {
  padding: 6.5rem;
}

.deposit .deposit-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5rem;
}

.deposit .deposit-container .card {
  background-color: #fafafb;
  padding: 2.5rem 3rem 2.5rem 3rem;
  border-radius: 20px;
}

.deposit .deposit-container .card img {
  width: 50px;
}

.deposit .deposit-container .card h3 {
  color: #10204d;
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}

.deposit .deposit-container .card p {
  color: #10204d;
  font-size: 1.4rem;
  line-height: 1.8;
}

.deposit .deposit-container .invest {
  background-color: #fafafb;
  padding: 2.5rem 3rem 2.5rem 3rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.deposit .deposit-container .invest h2 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #10204d;
  width: 80%;
}

.deposit .deposit-container .invest p {
  color: #10204d;
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 2.4rem;
  width: 78%;
}

.get-started {
  padding: 6.5rem;
}

.get-started .get-started-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  justify-content: center;
  align-items: flex-start;
  grid-gap: 2rem;
}

.get-started .get-started-container > div:first-child img {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.get-started .get-started-container .details h2 {
  font-size: 4rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 3rem;
}

.get-started .get-started-container .details .details-info {
  display: flex;
  flex-direction: column;
}

.get-started .get-started-container .details .details-info:not(:last-child) {
  margin-bottom: 2rem;
}

.get-started .get-started-container .details .details-info > div:first-child {
  display: flex;
}

.get-started
  .get-started-container
  .details
  .details-info
  > div:first-child
  h3 {
  color: #043c93;
  font-weight: 500;
  font-size: 2.6rem;
}

.get-started
  .get-started-container
  .details
  .details-info
  > div:first-child
  h4 {
  color: #10204d;
  font-size: 2.2rem;
  font-weight: 600;
}

.get-started .get-started-container .details .details-info .arrow-down {
  display: flex;
  align-items: center;
  /* margin-top: 1rem; */
  /* flex-direction: column; */
}

.get-started .get-started-container .details .details-info .arrow-down img {
  width: auto;
  height: 180px;
  object-fit: contain;
}
.get-started .get-started-container .details .details-info .arrow-down p {
  color: #10204d;
  font-size: 1.4rem;
  line-height: 1.8;
}
